<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35769504357-0a9526kohhq4kf2tnknh7c99o7uadlrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35769504357-0a9526kohhq4kf2tnknh7c99o7uadlrp</string>
	<key>API_KEY</key>
	<string>AIzaSyBYKg4ozrto2FJluVKWeszKWouAb9E3fs4</string>
	<key>GCM_SENDER_ID</key>
	<string>35769504357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemy</string>
	<key>PROJECT_ID</key>
	<string>udemy-flutter-68be7</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-flutter-68be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35769504357:ios:4f2386b6f14840a474ec8c</string>
</dict>
</plist>